p {
    /*padding-top: 0px; /* отступ сверху*/
    margin: 12px; /*внешний отступ на всех четырёх сторонах элемента*/
    font-size: 45px; /*размер шрифта*/
    font-family: Comic Sans MS, Comic Sans, cursive; /*шрифт текста*/
    color: rgb(182, 72, 129); 
    text-align: center; /*выравнивание текста */
    vertical-align: middle; /*выравнивает текстовые элементы по вертикали относительно друг друга.*/
    /* font-weight: 700; /*Полужирный с помощью численного значения */
    /* text-indent: 200px; /*размер отступа перед строкой в текстовом блоке*/
  }
.inner-div {
    /*height: 100px; /*высота*/
    /*width: 2000px; /*ширина фона трёх слов*/
    margin: 0%; /* отступ сверху*/
    /*background-color: #096eeb; /*цвет фона текста*/ 
  }
.tri_clova_stily {
    display: flex; /*все элементs автоматически распределяются по доступному пространству*/
    justify-content: space-evenly; /*Равномерно распределяет все элементы по ширине flex-блока. 
                                    Все элементы имеют равное пространство вокруг*/
    white-space: nowrap /*слова на одной строке*/
}

